<h1>Hello, Plant!</h1>
<%= link_to 'New Plant', new_plant_path %>
<%= image_tag "bonsai.jpg" %>

<h1>Listing plants</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Frequency</th>
  </tr>
 
  <% @plants.each do |plant| %>
    <tr>
      <td><%= plant.name %></td>
      <td><%= plant.frequency %></td>
      <td><%= link_to 'Show', plant_path(plant) %></td>
    </tr>
  <% end %>
</table>